<section id="Footer">
        <div class="Footer-cont">
            <div class="leftfooter">
                <img src="./assets/logos/BAUYAXSOLOLOGO.png" height="80px" />
                <p>"Construimos tu sueño"</p>
                <hr/>
                <h3>Contacto:</h3>
                <div class="phone">
                        <img src="./assets/logos/whatslogo1.png" height="20px"/>
                        <a href="tel:+52 (222) 832 1232">(222) 832 1232</a>
                </div>
                <div class="location">
                    <img src="./assets/logos/mapicon.png" height="20px"/>
                        <a href="">Puebla, Puebla</a>
                </div>
            </div>
            <div class="copyright">
                <p>© 2026 Bau Yax</p>     
            </div>
            <div class="logos">
                <p>Síguenos también en:</p>
                <a href="https://www.facebook.com">
                    <img src="./assets/logos/facelogo.png" height="30px" />
                </a>
                <a href="https://instagram.com">
                    <img src="./assets/logos/instalogo.png" height="30px" />
                </a>
                <a href="https://instagram.com">
                    <img src="./assets/logos/whatslogo1.png" height="30px" />
                </a>
            </div>   
        </div>
</section>