<header>     
        <a data-link="index.html"><img class="bauyaxlogo" src="assets/logos/BAUYAXLOGO1.png" height="80px" /></a>
    <div class="Phonebar">
        <a data-link="index.html"><img class="bauletras" src="assets/logos/BAUYAXLETRAS.png" /></a>
        <button id="abrir"><img class="menuicon" src="assets/logos/linesicon.png" height="20px" /></button>
    </div>
        <nav class="Nav" id="Nav">
            <button id="cerrar">X</button>
            <ul class="Menu">
                <li>
                    <a data-link="index.html">INICIO</a>
                </li>
                <li>
                    <a data-link="about.html">NOSOTROS</a>
                </li>
                <li>
                    <a data-link="projects.html">PROYECTOS</a>
                </li>
                <li>
                    <a data-link="contact.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
</header>
    <section id="line1">
        <div class="line"></div>
    </section>